# Server
PORT=8080

# Database (NeonDB)
DB_URL=jdbc:postgresql://SEU_HOST_NEONDB/neondb?sslmode=require
DB_USER=SEU_USUARIO
DB_PASS=SUA_SENHA

# Integrations
WHATSAPP_TOKEN=SEU_TOKEN_WHATSAPP
PHONE_NUMBER_ID=SEU_PHONE_NUMBER_ID
TELEGRAM_BOT_TOKEN=SEU_TOKEN_DO_BOTFATHER

# Spring AI / Groq Integration
GROQ_API_KEY=SUA_CHAVE_GROQ
SPRING_AI_OPENAI_BASE_URL=https://api.groq.com/openai
SPRING_AI_OPENAI_CHAT_OPTIONS_MODEL=llama-3.3-70b-versatile
SPRING_AI_OPENAI_AUDIO_TRANSCRIPTION_OPTIONS_MODEL=whisper-large-v3
